.floating-menu {
  font-family: sans-serif;
  background: yellowgreen;
  padding: 5px;;
  width: 130px;
  z-index: 100;
  position: fixed;
}
.floating-menu a, 
.floating-menu h3 {
  font-size: 3em;
  display: block;
  margin: 0 0.5em;
  color: white;
}
/* scrollbar  */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}